<p-progressSpinner *ngIf="loading; else content"
                   styleClass="spinner"
                   strokeWidth="8"
                   fill="var(--surface-ground)"
                   animationDuration=".5s">
</p-progressSpinner>

<ng-template #content>
  <div class="grid m-0">
    <div class="col p-0">
      <div class="card w-full">
        <h2>Profile</h2>
        <div class="flex justify-content-end flex-wrap">
          <p-button *ngIf="updateProfileForm.get('firstName')!.disabled"
                    (onClick)="toggleEditMode()"
                    [rounded]="true"
                    [text]="true"
                    icon="pi pi-pencil">
          </p-button>

          <p-button *ngIf="!updateProfileForm.get('firstName')!.disabled"
                    (onClick)="updateProfile()"
                    [disabled]="!updateProfileForm.dirty && updateProfileForm.valid"
                    [rounded]="true"
                    [text]="true"
                    severity="success"
                    icon="pi pi-check">
          </p-button>

          <p-button *ngIf="!updateProfileForm.get('firstName')!.disabled"
                    (onClick)="cancelUpdateMeeting()"
                    [rounded]="true"
                    [text]="true"
                    severity="danger"
                    icon="pi pi-times-circle">
          </p-button>
        </div>
        <div class="grid gap-5">
          <form [formGroup]="updateProfileForm">
            <div class="col-12 flex gap-5">
              <div class="flex flex-column align-items-start">
                <label for="firstName">First Name</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                    <i class="pi pi-user"></i>
                  </span>
                  <input id="firstName"
                         type="text"
                         formControlName="firstName"
                         placeholder="First Name">
                </div>

                <small
                  *ngIf="updateProfileForm.get('firstName')?.invalid && (updateProfileForm.get('firstName')?.dirty || updateProfileForm.get('firstName')?.touched)"
                  class="p-error">
                  <small *ngIf="updateProfileForm.get('firstName')?.errors?.['required']" class="p-error">
                    First name is required.
                  </small>
                  <small *ngIf="updateProfileForm.get('firstName')?.errors?.['minlength']" class="p-error">
                    First name must be at least 3 characters long.
                  </small>
                  <small *ngIf="updateProfileForm.get('firstName')?.errors?.['maxlength']" class="p-error">
                    First name must be maximum 15 characters long.
                  </small>
                </small>
              </div>
              <div class="flex flex-column align-items-start">
                <label for="lastName">Last Name</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                    <i class="pi pi-user"></i>
                  </span>
                  <input id="lastName" type="text"
                         formControlName="lastName"
                         placeholder="Last Name">
                </div>
                <small
                  *ngIf="updateProfileForm.get('lastName')?.invalid && (updateProfileForm.get('lastName')?.dirty || updateProfileForm.get('lastName')?.touched)"
                  class="p-error">
                  <small *ngIf="updateProfileForm.get('lastName')?.errors?.['required']" class="p-error">
                    Last name is required.
                  </small>
                  <small *ngIf="updateProfileForm.get('lastName')?.errors?.['minlength']" class="p-error">
                    Last name must be at least 3 characters long.
                  </small>
                  <small *ngIf="updateProfileForm.get('lastName')?.errors?.['maxlength']" class="p-error">
                    Last name must be maximum 15 characters long.
                  </small>
                </small>
              </div>
              <div class="flex flex-column align-items-start">
                <label for="username">Username</label>
                <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-user"></i>
                </span>
                  <input id="username" [disabled]="true" type="text" formControlName="username"
                         placeholder="Your username">
                </div>
              </div>
              <div class="flex flex-column align-items-start">
                <label for="email">Email</label>
                <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-envelope"></i>
                </span>
                  <input id="email" [disabled]="true" type="email" formControlName="email" placeholder="Your email">
                </div>
              </div>
            </div>
          </form>
        </div>
        <h5>Change Password</h5>
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
          <div class="p-col-12 flex gap-5">
            <div class="flex flex-column align-items-start">
              <label for="old-password">Old Password</label>
              <p-password id="old-password" formControlName="oldPassword" [toggleMask]="true"></p-password>
              <small
                *ngIf="changePasswordForm.get('oldPassword')?.invalid && (changePasswordForm.get('oldPassword')?.dirty || changePasswordForm.get('oldPassword')?.touched)"
                class="p-error">
                <small *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']" class="p-error">
                  Password is required.
                </small>
                <small *ngIf="changePasswordForm.get('oldPassword')?.errors?.['minlength']" class="p-error">
                  Password must be at least 6 characters long.
                </small>
                <small *ngIf="changePasswordForm.get('oldPassword')?.errors?.['maxlength']" class="p-error">
                  Password must be maximum 30 characters long.
                </small>
                <small *ngIf="changePasswordForm.get('oldPassword')?.hasError('incorrectPassword')"
                       class="p-error">Invalid Password!</small>
              </small>
            </div>
            <div class="flex flex-column align-items-start">
              <label for="new-password">New Password</label>
              <p-password id="new-password" formControlName="newPassword" [toggleMask]="true"></p-password>
              <small
                *ngIf="changePasswordForm.get('newPassword')?.invalid && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)"
                class="p-error">
                <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']" class="p-error">
                  Password is required.
                </small>
                <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']" class="p-error">
                  Password must be at least 6 characters long.
                </small>
                <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['maxlength']" class="p-error">
                  Password must be maximum 30 characters long.
                </small>
              </small>
            </div>
            <div class="flex flex-column align-items-start">
              <label for="repeat-password">Repeat Password</label>
              <p-password id="repeat-password" formControlName="repeatedPassword" [toggleMask]="true"></p-password>
              <small
                *ngIf="changePasswordForm.get('repeatedPassword')?.invalid && (changePasswordForm.get('repeatedPassword')?.dirty || changePasswordForm.get('repeatedPassword')?.touched)"
                class="p-error">
                <small *ngIf="changePasswordForm.get('repeatedPassword')?.errors?.['required']" class="p-error">
                  Password is required.
                </small>
                <small *ngIf="changePasswordForm.get('repeatedPassword')?.errors?.['minlength']" class="p-error">
                  Password must be at least 6 characters long.
                </small>
                <small *ngIf="changePasswordForm.get('repeatedPassword')?.errors?.['maxlength']" class="p-error">
                  Password must be maximum 30 characters long.
                </small>
                <small *ngIf="changePasswordForm.get('repeatedPassword')?.errors?.['passwordMismatch']" class="p-error">
                  Passwords do not match.
                </small>
              </small>
            </div>
          </div>
          <div class="w-full flex align-items-center justify-content-end py-5">
            <p-button [disabled]="changePasswordForm.invalid"
                      type="submit"
                      label="Change Password"
                      styleClass="p-button-success w-13rem">
            </p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
