<form [formGroup]="createProjectFormGroup">
  <div class="grid justify-content-center align-items-center">
    <div class="flex flex-column mt-3 pt-3 w-full">
      <span class="p-float-label w-full">
        <input pInputText id="title" formControlName="title" class="w-full"/>
        <label for="title">Title</label>
      </span>
      <div
        *ngIf="createProjectFormGroup.get('title')?.invalid && (createProjectFormGroup.get('title')?.dirty || createProjectFormGroup.get('title')?.touched)"
        class="p-error">
        <small *ngIf="createProjectFormGroup.get('title')?.errors?.['required']" class="p-error">
          Title is required.
        </small>
        <small *ngIf="createProjectFormGroup.get('title')?.errors?.['minlength']" class="p-error">
          Title must be at least 4 characters long.
        </small>
      </div>
    </div>
    <div class="flex flex-column mt-3 pt-3 w-full">
      <span class="p-float-label w-full">
        <textarea id="float-input"
                  rows="5" cols="30"
                  pInputTextarea
                  formControlName="description"
                  class="w-full">
        </textarea>
        <label for="float-input">Project Description</label>
      </span>
      <div
        *ngIf="createProjectFormGroup.get('description')?.invalid && (createProjectFormGroup.get('description')?.dirty || createProjectFormGroup.get('description')?.touched)"
        class="p-error">
        <small *ngIf="createProjectFormGroup.get('description')?.errors?.['required']" class="p-error">
          Description is required.
        </small>
        <small *ngIf="createProjectFormGroup.get('description')?.errors?.['minlength']" class="p-error">
          Description should be between 10 and 1000 characters long.
        </small>
        <small *ngIf="createProjectFormGroup.get('description')?.errors?.['maxlength']" class="p-error">
          Description should be between 10 and 1000 characters long.
        </small>
      </div>
      <small class="text-muted">{{ createProjectFormGroup.get('description')?.value?.length || 0 }} / 1000</small>
    </div>

    <div class="flex flex-column mt-3 pt-3 w-full">
      <span class="p-float-label w-full">
        <input pInputText id="abbreviation" formControlName="abbreviation" class="w-full"/>
        <label for="abbreviation">Abbreviation</label>
      </span>
      <div
        *ngIf="createProjectFormGroup.get('abbreviation')?.invalid && (createProjectFormGroup.get('abbreviation')?.dirty
      || createProjectFormGroup.get('abbreviation')?.touched)"
        class="p-error">
        <small *ngIf="createProjectFormGroup.get('abbreviation')?.errors?.['required']" class="p-error">
          Abbreviation is required.
        </small>
        <small *ngIf="createProjectFormGroup.get('abbreviation')?.errors?.['minlength']" class="p-error">
          Abbreviation must be at least 3 characters long.
        </small>
      </div>
    </div>

    <div class="flex flex-column mt-3 pt-3 w-full">
      <p-multiSelect
        [options]="allProjectManagers"
        [showClear]="true"
        formControlName="pmIds"
        placeholder="Select Project Manager"
        optionLabel="fullName"
        optionValue="id"
        display="chip"
        class="w-full"
      >
      </p-multiSelect>
    </div>

    <div class="justify-content-center align-items-center gap-2 mt-5">
      <p-button (click)="createProject()"
                [disabled]="createProjectFormGroup.invalid"
                label="Create"
                icon="pi pi-user"
                styleClass="w-10rem mx-auto">
      </p-button>
    </div>
  </div>
</form>
