<p-progressSpinner *ngIf="loading.task; else content" styleClass="w-4rem h-4rem" strokeWidth="8"
                   fill="var(--surface-ground)" animationDuration=".5s">
</p-progressSpinner>

<ng-template #content>
  <div *ngIf="getAuthUserRole() === Role.PM &&
  (task.status === TaskStatus.OPEN || task.status === TaskStatus.RE_OPEN || task.status === TaskStatus.TODO)"
    class="flex justify-content-end">
    <p-button *ngIf="updateTaskFormGroup.get('title')!.disabled"
              (onClick)="toggleEditMode()"
              [rounded]="true"
              [text]="true"
              icon="pi pi-pencil">
    </p-button>

    <p-button *ngIf="!updateTaskFormGroup.get('title')!.disabled"
              (onClick)="cancelUpdateTask()"
              [rounded]="true"
              [text]="true"
              severity="danger"
              icon="pi pi-times-circle">
    </p-button>
    <p-button *ngIf="!updateTaskFormGroup.get('title')!.disabled"
              (click)="updateTask(task!.id)"
              [disabled]="!updateTaskFormGroup.dirty && updateTaskFormGroup.valid"
              [rounded]="true"
              [text]="true"
              severity="success"
              icon="pi pi-check">
    </p-button>

    <p-button (onClick)="showDeleteTaskConfirmation()"
              [rounded]="true"
              [text]="true"
              icon="pi pi-trash"
              severity="danger">
    </p-button>
  </div>
  <div>
    <form [formGroup]="updateTaskFormGroup">
      <div class="flex flex-column gap-2">
        <div class="grid gap-4 mt-3">
          <div class="p-col-2">
            <div class="flex flex-column gap-2">
              <label class="font-bold">Title</label>
              <input [disabled]="true"
                     formControlName="title"
                     pInputText id="start"/>
            </div>
          </div>
          <div class="p-col-2">
            <div class="flex flex-column gap-2">
              <label class="font-bold">Status</label>
              <p-dropdown [options]="taskStatus"
                          formControlName="status"
                          optionValue="value"
                          optionLabel="label"
                          appendTo="body"
                          placeholder="Select a Status">
              </p-dropdown>
            </div>
          </div>
          <ng-container *ngIf="task.userFullName">
            <div class="p-col-2">
              <div class="flex flex-column gap-2">
                <label class="font-bold">Assignee</label>
                <p-dropdown [options]="assignUserOptions"
                            optionLabel="fullName"
                            formControlName="assignee"
                            [filter]="true"
                            filterBy="fullName"
                            [showClear]="true"
                            [placeholder]="updateTaskFormGroup.get('assignee')!.value ? updateTaskFormGroup.get('assignee')!.value : 'Assign User'">
                </p-dropdown>
              </div>
            </div>
          </ng-container>
          <div
            *ngIf="getAuthUserRole() === Role.PM && (task.status === TaskStatus.TODO || task.status === TaskStatus.IN_PROGRESS)"
            class="p-col-2">
            <div class="flex flex-column gap-2">
              <label for="estimation-time" class="font-bold">Estimation Time</label>
              <input [disabled]="true"
                     [ngModel]="estimationTime + ' hours'"
                     [ngModelOptions]="{standalone: true}"
                     pInputText id="estimation-time"/>
            </div>
          </div>

          <div
            *ngIf="getAuthUserRole() === Role.PM && (task.status === TaskStatus.TODO || task.status === TaskStatus.IN_PROGRESS)"
            class="p-col-2">
            <div class="flex flex-column gap-2">
              <label for="completion-time" class="font-bold">Completion Time</label>
              <input [disabled]="true"
                     [ngModel]="completionTime + ' hours'"
                     [ngModelOptions]="{standalone: true}"
                     pInputText id="completion-time"/>
            </div>
          </div>

          <div *ngIf="!task.userFullName &&  getAuthUserRole() === Role.PM"
               class="flex flex-row gap-2 pt-4">
            <p-dropdown [options]="assignUserOptions"
                        [(ngModel)]="selectedUserToAssign"
                        optionLabel="fullName"
                        [filter]="true"
                        filterBy="fullName"
                        [showClear]="true"
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Assign User">
              placeholder="Assign User">
              <ng-template let-user pTemplate="selectedItem">
                <div class="flex align-items-center gap-2">
                  <div>{{ user.fullName }}</div>
                </div>
              </ng-template>
              <ng-template let-user pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ user.fullName }}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <p-button *ngIf="selectedUserToAssign"
                      (onClick)="assignUser()"
                      icon="pi pi-check" [rounded]="true"
                      severity="success" [text]="true">
            </p-button>
          </div>

          <div *ngIf="getAuthUserId() === task.userId && task.status === TaskStatus.TODO.valueOf()"
               class="flex flex-column gap-2">
            <div class="block font-bold mb-2">
              <label for="estimation" class="block">Enter Estimation Time: </label>
              <p-inputNumber [(ngModel)]="estimationTime"
                             [ngModelOptions]="{standalone: true}"
                             id="estimation"
                             suffix=" (hours)"
                             [showButtons]="true"
                             [min]="1" [max]="50"
                             mode="decimal">
              </p-inputNumber>

              <p-button *ngIf="estimationTime > 0" (onClick)="submitEstimationTime()" label="Submit" [text]="true" severity="info"></p-button>
            </div>
          </div>

          <div *ngIf="getAuthUserId() === task.userId && task.status === TaskStatus.IN_PROGRESS.valueOf()"
               class="flex flex-column gap-2">
            <div class="block font-bold mb-2">
              <label for="completion" class="block">Enter Completion Time: </label>
              <p-inputNumber [(ngModel)]="completionTime"
                             [ngModelOptions]="{standalone: true}"
                             id="completion"
                             suffix=" (hours)"
                             [showButtons]="true"
                             [min]="1" [max]="50"
                             mode="decimal">
              </p-inputNumber>

              <p-button *ngIf="completionTime > 0" (onClick)="submitCompletionTime()" label="Submit" [text]="true"
                        severity="info"></p-button>
            </div>
          </div>
          <div
            *ngIf="task.status === TaskStatus.DONE"
            class="p-col-2">
            <div class="flex flex-column gap-2">
              <label for="estimation-time" class="font-bold">Estimated Time:</label>
              <input [disabled]="true"
                     [ngModel]="task.estimationTime + ' hours'"
                     [ngModelOptions]="{standalone: true}"
                     pInputText id="estimated-time"/>
            </div>
          </div>
          <div
            *ngIf="task.status === TaskStatus.DONE"
            class="p-col-2">
            <div class="flex flex-column gap-2">
              <label for="completed-time" class="font-bold">Completed Time</label>
              <input [disabled]="true"
                     [ngModel]="task.completionTime + ' hours'"
                     [ngModelOptions]="{standalone: true}"
                     pInputText id="completed-time"
                     [class.completed-faster]="task.completionTime < task.estimationTime"
                     [class.completed-slower]="task.completionTime > task.estimationTime"/>

              <small *ngIf="task.completionTime !== task.estimationTime && task.completionTime < task.estimationTime"
                     class="success-message pl-1">Completed faster than estimated.</small>
              <small *ngIf="task.completionTime !== task.estimationTime && task.completionTime > task.estimationTime"
                     class="error-message pl-1">Completed slower than estimated.</small>
              <small *ngIf="task.completionTime === task.estimationTime"
                     class="info-message pl-1">Completed exactly as estimated.</small>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-column gap-2 mt-3">
        <label class="font-bold" for="description">Description</label>
        <textarea pInputTextarea id="description"
                  aria-describedby="username-help"
                  rows="3"
                  cols="20"
                  [disabled]="true"
                  formControlName="description">
        </textarea>
      </div>

      <div *ngIf="(getAuthUserId() === task.userId && task.status === TaskStatus.IN_PROGRESS.valueOf())
            || (getAuthUserRole() === Role.PM.valueOf() && task.status === TaskStatus.IN_PROGRESS.valueOf())"
           class="flex flex-column gap-2 mt-4">
        <label for="progress">Progress</label>
        <p-progressBar [value]="progress"></p-progressBar>
        <p-inputNumber
          [(ngModel)]="progress"
          [showButtons]="true"
          (ngModelChange)="onProgressChange($event)"
          [max]="100"
          [min]="0"
          [step]="10"
          [disabled]="!(getAuthUserId() === task.userId && task.status === TaskStatus.IN_PROGRESS.valueOf())"
          [ngModelOptions]="{standalone: true}"
          buttonLayout="horizontal"
          inputId="horizontal"
          id="progress"
          decrementButtonClass="p-button-danger"
          incrementButtonClass="p-button-success"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          mode="decimal"
          class="w-2rem"
        ></p-inputNumber>
      </div>
    </form>
    <div class="mt-7">
      <h4>Comments</h4>
      <ng-container *ngFor="let comment of comments">
        <div class="mt-4">
          <app-comment-card [comment]="comment"
                            (deleteCommentEvent)="deleteCommentHandler($event)">
          </app-comment-card>
        </div>

      </ng-container>
      <div class="mt-5">
        <h5>Post a Comment</h5>
        <span class="p-float-label">
      <textarea [formControl]="createCommentFormControl"
                id="float-input"
                rows="3" cols="58"
                pInputTextarea>
      </textarea>
      <label for="float-input">Your Comment</label>
    </span>
        <div class="mt-3">
          <p-button [disabled]="createCommentFormControl.invalid" (onClick)="postComment()"
                    label="Post Comment"
                    [rounded]="true" severity="success">
          </p-button>
        </div>
      </div>
    </div>
  </div>

</ng-template>

