.completed-faster {
  border: 2px solid #7fa366;
}

.completed-slower{
  border: 2px solid #733d42;
}

.success-message {
  color: #4f653e;
}

.error-message {
  color: #733d42;
}

.info-message {
  color: #7fa366;
}
