<div class="p-col-12 p-md-4">
  <div *ngIf="(getAuthUserRole() === Role.ADMIN) || (getAuthUserRole() === Role.PM)"
       class="flex justify-content-end pr-5">
    <p-button (onClick)="showDeleteMeetingConfirmation()"
              [rounded]="true"
              [text]="true"
              severity="danger"
              icon="pi pi-trash">
    </p-button>
    <p-button *ngIf="updateMeetingFormGroup.get('title')!.disabled"
              (onClick)="toggleEditMode()"
              [rounded]="true"
              [text]="true"
              icon="pi pi-pencil">
    </p-button>

    <p-button *ngIf="!updateMeetingFormGroup.get('title')!.disabled"
              (onClick)="updateMeeting()"
              [disabled]="!updateMeetingFormGroup.dirty && updateMeetingFormGroup.valid"
              [rounded]="true"
              [text]="true"
              severity="success"
              icon="pi pi-check">
    </p-button>

    <p-button *ngIf="!updateMeetingFormGroup.get('title')!.disabled"
              (onClick)="cancelUpdateMeeting()"
              [rounded]="true"
              [text]="true"
              severity="danger"
              icon="pi pi-times-circle">
    </p-button>
  </div>
  <form [formGroup]="updateMeetingFormGroup">
    <div class="grid p-2">
      <div class="flex flex-column mt-3 pt-3 w-full">
        <div class="flex  flex-wrap gap-5">
          <div class="flex flex-column gap-2">
            <label class="font-bold" for="id">ID</label>
            <input formControlName="id"
                   pInputText id="id"/>
          </div>
          <div class="flex flex-column gap-2">
            <label class="font-bold" for="title">Title</label>
            <input pInputText id="title"
                   formControlName="title"/>
            <div
              *ngIf="updateMeetingFormGroup.get('title')?.invalid && (updateMeetingFormGroup.get('title')?.dirty || updateMeetingFormGroup.get('title')?.touched)"
              class="alert alert-danger">
              <small *ngIf="updateMeetingFormGroup.get('title')?.errors?.['required']">
                Title is required.
              </small>
              <small *ngIf="updateMeetingFormGroup.get('title')?.errors?.['minlength']"
                     class="alert alert-danger">
                Title must be at least 4 characters long.
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-column mt-3 pt-3 w-full">
        <div class="flex  flex-wrap gap-5">
          <div class="flex flex-column gap-2">
            <label class="font-bold">Start Date</label>
            <p-calendar [showIcon]="true"
                        [showTime]="true"
                        appendTo="body"
                        formControlName="start">
            </p-calendar>
          </div>
          <div class="flex flex-column gap-2">
            <label class="font-bold">End Date</label>
            <p-calendar [showIcon]="true"
                        [showTime]="true"
                        appendTo="body"
                        formControlName="end">
            </p-calendar>
          </div>
        </div>
      </div>

      <div class="flex flex-column mt-3 pt-3">
        <label class="font-bold" for="status">Status</label>
        <input disabled pInputText id="status" [value]="currentStatus" readonly/>
      </div>
    </div>
    <div class="mt-3 pt-3">
      <h3 class="font-bold">Participants</h3>
      <div class="flex flex-wrap gap-4">
        <div class="flex flex-column mt-3 gap-3" *ngFor="let team of _meeting.teams; let i = index">
          <div class="flex justify-content-between align-items-center">
            <p class="font-bold">{{ team.name }}</p>
            <p-button *ngIf="getAuthUserRole() === Role.PM || getAuthUserRole() === Role.ADMIN"
                      (onClick)="showRemoveTeamFromMeeting(team.id)"
                      [rounded]="true"
                      [text]="true"
                      severity="danger"
                      icon="pi pi-trash">
            </p-button>
          </div>
          <p-listbox [options]="team.users" [disabled]="true" optionLabel="email"></p-listbox>
        </div>
      </div>
    </div>
  </form>
</div>



