<div class="p-grid p-fluid">
  <div class="p-col-12 p-md-4">
    <div class="flex justify-content-end flex-wrap w-full p-3">
      <p-button (onClick)="showDeleteProjectConfirmation(project.id)"
                [rounded]="true"
                [text]="true"
                severity="danger"
                icon="pi pi-trash">
      </p-button>
      <p-button *ngIf="updateProjectFormGroup.get('title')!.disabled"
                (onClick)="toggleEditMode()"
                [rounded]="true"
                [text]="true"
                icon="pi pi-pencil">
      </p-button>

      <p-button *ngIf="!updateProjectFormGroup.get('title')!.disabled"
                (click)="updateProject(project!.id)"
                [disabled]="!updateProjectFormGroup.dirty && updateProjectFormGroup.valid"
                [rounded]="true"
                [text]="true"
                severity="success"
                icon="pi pi-check">
      </p-button>

      <p-button *ngIf="!updateProjectFormGroup.get('title')!.disabled"
                (onClick)="cancelUpdateProject()"
                [rounded]="true"
                [text]="true"
                severity="danger"
                icon="pi pi-times-circle">
      </p-button>
    </div>

    <p-card>
      <form [formGroup]="updateProjectFormGroup">
        <div class="p-grid">
          <div class="grid gap-4">
            <div class="p-col-2">
              <div class="flex flex-column gap-2">
                <label for="id">ID</label>
                <input formControlName="id"
                       pInputText id="id"/>
              </div>
            </div>

            <div class="p-col-2">
              <div class="flex flex-column gap-2">
                <label for="title">Title</label>
                <input pInputText id="title"
                       formControlName="title"/>
                <div
                  *ngIf="updateProjectFormGroup.get('title')?.invalid && (updateProjectFormGroup.get('title')?.dirty || updateProjectFormGroup.get('title')?.touched)"
                  class="alert alert-danger">
                  <small *ngIf="updateProjectFormGroup.get('title')?.errors?.['required']">
                    Title is required.
                  </small>
                  <small *ngIf="updateProjectFormGroup.get('title')?.errors?.['minlength']"
                         class="alert alert-danger">
                    Title must be at least 4 characters long.
                  </small>
                </div>
              </div>
            </div>

            <div class="p-col-2">
              <div class="flex flex-column gap-2">
                <label for="abbreviation">Abbreviation</label>
                <input pInputText id="abbreviation"
                       formControlName="abbreviation"/>
                <div
                  *ngIf="updateProjectFormGroup.get('abbreviation')?.invalid && (updateProjectFormGroup.get('abbreviation')?.dirty || updateProjectFormGroup.get('abbreviation')?.touched)"
                  class="alert alert-danger">
                  <small *ngIf="updateProjectFormGroup.get('abbreviation')?.errors?.['required']">
                    Abbreviation is required.
                  </small>
                  <small *ngIf="updateProjectFormGroup.get('abbreviation')?.errors?.['minlength']"
                         class="alert alert-danger">
                    Abbreviation must be at least 4 characters long.
                  </small>
                </div>
              </div>
            </div>
          </div>

          <div class="grid gap-4 mt-4">
            <div class="p-col">
              <div class="p-col-2">
                <div class="flex flex-column gap-2">
                  <label for="created_date">Created Date </label>
                  <input
                    pInputText id="created_date"
                    formControlName="createdDate"/>
                </div>
              </div>
            </div>

            <div class="p-col">
              <div class="p-col-2">
                <div class="flex flex-column gap-2">
                  <label for="status">Status</label>
                  <p-dropdown [options]="projectStatus"
                              id="status"
                              formControlName="status"
                              optionValue="value"
                              optionLabel="label"
                              placeholder="Select a Status">
                  </p-dropdown>
                </div>
              </div>
            </div>
          </div>

          <div class="p-col mt-4">
            <div class="flex flex-column gap-2">
              <label for="description">Description</label>
              <textarea formControlName="description"
                        pInputTextarea id="description"
                        rows="5">
            </textarea>
              <div
                *ngIf="updateProjectFormGroup.get('description')?.invalid && (updateProjectFormGroup.get('description')?.dirty || updateProjectFormGroup.get('description')?.touched)"
                class="alert alert-danger">
                <small *ngIf="updateProjectFormGroup.get('description')?.errors?.['required']">
                  Description is required.
                </small>
                <small *ngIf="updateProjectFormGroup.get('description')?.errors?.['minlength']">
                  Description should be between 10 and 1000 characters long.
                </small>
                <small *ngIf="updateProjectFormGroup.get('description')?.errors?.['maxlength']">
                  Description should be between 10 and 1000 characters long.
                </small>
              </div>
            </div>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</div>

<div class="grid mt-7">
  <div class="col m-2 p-2">
    <div class="p-col-12 flex flex-row flex-wrap justify-content-between p-2">
      <div>
        <h3>Teams</h3>
      </div>
      <div>
        <p-button (click)="createTeam()"
                  [rounded]="true"
                  severity="success"
                  icon="pi pi-plus"
                  size="small">
        </p-button>
      </div>
    </div>
    <div class="p-col-12" *ngIf="project.teams && project.teams.length > 0; else noTeams">
      <div *ngFor="let team of project?.teams"
           class="p-col-12 p-md-6 p-lg-4 p-xl-3 mb-3">
        <ng-container *ngIf="!loadingUsersToAddToTeam">
          <app-admin-team-card [team]="team"
                               [usersToAddToTeam]="usersToAddToTeam"
                               [projectId]="project.id!"
                               (projectDeletedEvent)="removeDeletedProjectHandler($event)">
          </app-admin-team-card>
        </ng-container>

      </div>
    </div>
    <ng-template #noTeams>
      <p class="text-red-700 mt-3">
        No teams added to this project.
      </p>
    </ng-template>
  </div>

  <div class="col m-2 p-2">
    <div class="p-grid p-gutter">
      <div class="p-col-12 flex flex-row flex-wrap justify-content-between p-2">
        <div>
          <h3>Project Managers</h3>
        </div>
      </div>
      <div class="p-col-12">
        <app-admin-project-manager-table [project]="project"></app-admin-project-manager-table>
      </div>
    </div>
  </div>
</div>

