<p-progressSpinner *ngIf="loading.tasks; else content" styleClass="w-4rem h-4rem" strokeWidth="8"
                   fill="var(--surface-ground)" animationDuration=".5s">
</p-progressSpinner>

<!--class="grid gap-3 mx-3 xl:mx-4 py-4"-->
<ng-template #content>
  <div class="kanban-wrapper">
    <!--  <div class="col">-->

    <p-card [pDroppableDisabled]="isDropDisabled"
            (onDrop)="drop('OPEN')"
            pDroppable styleClass="OPEN">
      <h2>
        <span>OPEN
          <p-chip
            [label]="(this.openTasks.length ? this.openTasks.length : 0).toString()">
          </p-chip>
        </span>
      </h2>
      <hr *ngIf="openTasks.length > 0" class="divider-header">
      <div class="list">
        <ng-container *ngFor="let task of this.openTasks let i = index">
          <div class="list-item"
               pDraggable
               (onDragStart)="dragStart(task)"
               (onDragEnd)="dragEnd(task)"
               (click)="openDetailedTaskDialog(task)"
          >
            <div class="flex justify-content-between flex-wrap">
              <h6>{{ task.title }}</h6>
              <p>{{ task.abbreviation }}</p>
            </div>
            <p>{{ task.description }}</p>
            <div class="task-footer flex justify-content-between">
              <span>
                <i class="pi pi-user mr-2"></i>{{ task.userFullName ? task.userFullName : 'No assigned user' }}</span>
              <p-chip styleClass="flex-auto bg-red-300 text-0" [label]="task.status | titlecase"></p-chip>
            </div>
          </div>
          <div *ngIf="i !== this.openTasks.length - 1" class="divider"></div>
        </ng-container>
      </div>
    </p-card>
    <!--  </div>-->

    <!--  <div class="col">-->
    <p-card [pDroppableDisabled]="isDropDisabled"
            (onDrop)="drop('TODO')"
            pDroppable styleClass="TODO">
      <h2>
        <span>TODO
          <p-chip [label]="(this.todoTasks.length ? this.todoTasks.length : 0).toString()">
          </p-chip>
        </span>
      </h2>
      <hr *ngIf="todoTasks.length > 0" class="divider-header">

      <div class="list">
        <ng-container *ngFor="let task of this.todoTasks let i = index">
          <div class="list-item"
               pDraggable
               (onDragStart)="dragStart(task)"
               (onDragEnd)="dragEnd(task)"
               (click)="openDetailedTaskDialog(task)">
            <div class="flex justify-content-between flex-wrap">
              <h6>{{ task.title }}</h6>
              <p>{{ task.abbreviation }}</p>
            </div>
            <p>{{ task.description }}</p>
            <div class="task-footer flex justify-content-between">
              <span><i class="pi pi-user mr-2"></i>{{ task.userFullName }}</span>
              <p-chip styleClass="flex-auto bg-primary-300 text-0" [label]="task.status | titlecase"></p-chip>
            </div>
          </div>
          <div *ngIf="i !== this.todoTasks.length - 1" class="divider"></div>
        </ng-container>
      </div>
    </p-card>
    <!--  </div>-->

    <!--  <div class="col">-->
    <p-card [pDroppableDisabled]="isDropDisabled"
            (onDrop)="drop('IN_PROGRESS')"
            pDroppable>
      <h2>
        <span>IN PROGRESS <p-chip
          [label]="(this.inProgressTasks.length ? this.inProgressTasks.length : 0).toString()"></p-chip></span>
      </h2>
      <hr *ngIf="inProgressTasks.length > 0" class="divider-header">

      <div class="list">
        <ng-container *ngFor="let task of this.inProgressTasks let i = index">
          <div class="list-item"
               pDraggable
               (onDragStart)="dragStart(task)"
               (onDragEnd)="dragEnd(task)"
               (click)="openDetailedTaskDialog(task)">
            <div class="flex justify-content-between flex-wrap">
              <h6>{{ task.title }}</h6>
              <p>{{ task.abbreviation }}</p>
            </div>
            <p>{{ task.description }}</p>
            <div class="task-footer flex justify-content-between">
              <span><i class="pi pi-user mr-2"></i>{{ task.userFullName }}</span>
              <p-chip styleClass="flex-auto bg-yellow-400 text-0" [label]="task.status | titlecase"></p-chip>
            </div>
          </div>
          <div *ngIf="i !== this.inProgressTasks.length - 1" class="divider"></div>
        </ng-container>
      </div>
    </p-card>
    <!--  </div>-->

    <!--  <div class="col">-->
    <p-card [pDroppableDisabled]="isDropDisabled"
            (onDrop)="drop('DONE')"
            pDroppable styleClass="DONE">
      <ng-template pTemplate="header">
      </ng-template>
      <h2>
        <span>DONE
          <p-chip [label]="(this.doneTasks.length ? this.doneTasks.length : 0).toString()">
          </p-chip>
        </span>
      </h2>
      <hr *ngIf="doneTasks.length > 0" class="divider-header">

      <div class="list">
        <ng-container *ngFor="let task of this.doneTasks let i = index">
          <div class="list-item"
               pDraggable
               (onDragStart)="dragStart(task)"
               (onDragEnd)="dragEnd(task)"
               (click)="openDetailedTaskDialog(task)">
            <div class="flex justify-content-between flex-wrap">
              <h6>{{ task.title }}</h6>
              <p>{{ task.abbreviation }}</p>
            </div>
            <p>{{ task.description }}</p>
            <div class="flex justify-content-between" style="font-size: smaller; padding-top: 0.25rem;">
              <span>
                <i class="pi pi-user mr-2"></i>
                {{ task.userFullName }}
              </span>
              <p-chip styleClass="flex-auto bg-teal-400 text-0" [label]="task.status | titlecase">
              </p-chip>
            </div>
          </div>
          <div *ngIf="i !== this.doneTasks.length - 1" class="divider"></div>
        </ng-container>
      </div>
    </p-card>
  </div>
</ng-template>
<!--</div>-->


<p-dialog *ngIf="visibleDetailedTask && selectedTask"
          [(visible)]="visibleDetailedTask"
          [modal]="true"
          [style]="{width: '50vw'}"
          [maximizable]="true"
          header="Task Information">
  <app-detailed-task [id]="selectedTask!.id"
                     [projectId]="projectId"
                     (deletedTaskEvent)="deleteTaskHandler($event)"
                     (updatedTaskEvent)="updateTaskHandler($event)"
                     (assignedUserToTaskEvent)="assignedUserToTaskHandler($event)"
                     (updatedStatusTaskEvent)="updatedStatusTaskHandler($event, TaskStatus.IN_PROGRESS.valueOf())">

  </app-detailed-task>
</p-dialog>

