<div class="p-card user-item" style="width: 300px;">
<!--  <div class="p-card-header">-->
<!--    <img src="assets/profile-placeholder.png" alt="Profile Picture" style="width:100%">-->
<!--  </div>-->
  <div class="p-card-body">
    <p><strong>Name:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
  </div>
  <div class="p-card-footer">
    <button class="p-button p-button-danger p-button-sm" (click)="deleteUser(user.id)">Delete</button>
    <button class="p-button p-button-sm">Edit</button>
  </div>
</div>
