<div class="p-grid project-view-container">
  <div class="p-col-12 p-md-6 project-info-header">
    <button pButton type="button" icon="pi pi-external-link" label="Detailed Project Information" (click)="showDialog()" class="p-button-raised p-button-rounded p-button-success m-3"></button>
  </div>

  <p-dialog header="Detailed Project Information" [(visible)]="visible" [modal]="true" [style]="{ 'max-width': '50rem' }">
    <div class="p-grid p-dir-col p-text-left">
      <div class="p-col p-1">
        <b>Title:</b> {{ project.title }}
      </div>
      <div class="p-col p-1">
        <b>Description:</b> {{ project.description }}
      </div>
      <div class="p-col p-1">
        <b>Status:</b> {{ project.status }}
      </div>
      <div class="p-col p-1">
        <b>Created Date:</b> {{ project.createdDate | date: 'medium' }}
      </div>
      <div class="p-col p-1">
        <b>Teams:</b>
        <ul>
          <li *ngFor="let team of project?.teams">
            <span>{{ team.name }} -</span>
            <ul>
              <li *ngFor="let user of team.users">
                {{ user.username }} ({{ user.email }})
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </p-dialog>

  <div class="p-col-12 p-md-6 project-tasks">
    <app-project-task-list></app-project-task-list>
  </div>
</div>
