<div class="w-full">
  <p-card [header]="task.title" [subheader]="task.abbreviation" class="w-full">
    <ng-template pTemplate="footer">
      <p-button label="View" (click)="openModal(task.id)" [link]="true"></p-button>
    </ng-template>
  </p-card>
</div>

<p-dialog *ngIf="visible"
          [(visible)]="visible"
          [modal]="true"
          [style]="{width: '50vw'}"
          [maximizable]="true"
          header="Header">
  <app-detailed-task [id]="task.id"></app-detailed-task>
</p-dialog>


