<p-progressSpinner *ngIf="loading.meeting; else content" styleClass="w-4rem h-4rem" strokeWidth="8"
                   fill="var(--surface-ground)" animationDuration=".5s">
</p-progressSpinner>

<ng-template #content>
  <div class="ml-4 mr-4 mt-1">
    <full-calendar
      [options]="calendarOptions"
      [events]="events">
    </full-calendar>
  </div>
</ng-template>
<p-dialog header="Meeting Information"
          [(visible)]="visibleMeetingInformationDialog"
          [modal]="true"
          [style]="{ width: '50vw', height: '40vw' }"
          [draggable]="false"
          [resizable]="false">
  <app-detailed-meeting *ngIf="selectedMeeting"
                        [meeting]="selectedMeeting!"
                        (updatedMeetingEvent)="updateMeetingHandler($event)"
                        (deletedMeetingEvent)="deleteMeetingHandler($event)">
  </app-detailed-meeting>
</p-dialog>

<p-dialog header="Create Meeting"
          [(visible)]="visibleCreateMeetingDialog"
          [modal]="true"
          [style]="{ width: '45vw', height: '34vw' }"
          [draggable]="false"
          [resizable]="false">
  <app-create-meeting [selectInfo]="selectInfo"
                      (newMeetingEvent)="newMeetingHandler($event, selectInfo)"
                      *ngIf="visibleCreateMeetingDialog">
  </app-create-meeting>
</p-dialog>



