<p-progressSpinner *ngIf="loading; else content" styleClass="spinner" strokeWidth="8"
                   fill="var(--surface-ground)" animationDuration=".5s">
</p-progressSpinner>

<ng-template #content>
  <div class="grid m-0">
    <div class="p-col-12">
      <div class="card">
        <h2>Profile</h2>
        <div class="grid gap-5">
          <div class="col-12 flex gap-5">
            <div class="flex flex-column align-items-start">
              <label for="firstName">First Name</label>
              <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                    <i class="pi pi-user"></i>
                  </span>
                <input id="firstName" type="text" [(ngModel)]="user.firstName" placeholder="First Name">
              </div>
            </div>
            <div class="flex flex-column align-items-start">
              <label for="lastName">Last Name</label>
              <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                    <i class="pi pi-user"></i>
                  </span>
                <input id="lastName" type="text" [(ngModel)]="user.lastName" placeholder="Last Name">
              </div>
            </div>
          </div>

          <div class="p-col-12 flex gap-5">
            <div class="flex flex-column align-items-start">
              <label for="username">Username</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-user"></i>
                </span>
                <input id="username" disabled type="text" [(ngModel)]="user.username" placeholder="Your username">
              </div>
            </div>
            <div class="flex flex-column align-items-start">
              <label for="email">Email</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-envelope"></i>
                </span>
                <input id="email" disabled type="email" [(ngModel)]="user.email" placeholder="Your email">
              </div>
            </div>
          </div>
        </div>
        <h5>Change Password</h5>
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
          <div class="p-col-12">
            <label for="old-password">Old Password</label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-key"></i>
                </span>
              <input id="old-password" type="password" formControlName="oldPassword"
                     placeholder="Enter your old password">
            </div>
            <small
              *ngIf="changePasswordForm.get('oldPassword')?.invalid && (changePasswordForm.get('oldPassword')?.dirty || changePasswordForm.get('oldPassword')?.touched)"
              class="p-error">
              <small *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']" class="p-error">
                Password is required.
              </small>
              <small *ngIf="changePasswordForm.get('oldPassword')?.errors?.['minlength']" class="p-error">
                Password must be at least 6 characters long.
              </small>
            </small>
          </div>
          <div class="p-col-6">
            <label for="new-password">New Password</label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-key"></i>
                </span>
              <input id="new-password" type="password" formControlName="newPassword"
                     placeholder="Enter your new password">
            </div>
            <small
              *ngIf="changePasswordForm.get('newPassword')?.invalid && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)"
              class="p-error">
              <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']" class="p-error">
                Password is required.
              </small>
              <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']" class="p-error">
                Password must be at least 6 characters long.
              </small>
            </small>
          </div>
          <div class="p-col-12">
            <label for="repeat-password">Repeat Password</label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-key"></i>
                </span>
              <input id="repeat-password" type="password" formControlName="repeatedPassword"
                     placeholder="Repeat your new password">
            </div>
            <small
              *ngIf="changePasswordForm.get('repeatedPassword')?.invalid && (changePasswordForm.get('repeatedPassword')?.dirty || changePasswordForm.get('repeatedPassword')?.touched)"
              class="p-error">
              <small *ngIf="changePasswordForm.get('repeatedPassword')?.errors?.['required']" class="p-error">
                Password is required.
              </small>
              <small *ngIf="changePasswordForm.get('repeatedPassword')?.errors?.['minlength']" class="p-error">
                Password must be at least 6 characters long.
              </small>
              <small *ngIf="changePasswordForm.get('repeatedPassword')?.errors?.['passwordMismatch']" class="p-error">
                Passwords do not match.
              </small>
            </small>
          </div>
          <div class="w-full flex align-items-center justify-content-end py-5">
            <p-button [disabled]="changePasswordForm.invalid"
                      type="submit"
                      label="Change Password"
                      styleClass="p-button-success w-13rem">
            </p-button>
          </div>
        </form>
      </div>

    </div>
  </div>
</ng-template>
