<!--<p-progressSpinner *ngIf="loading.users; else content" styleClass="w-4rem h-4rem" strokeWidth="8"-->
<!--                   fill="var(&#45;&#45;surface-ground)" animationDuration=".5s">-->
<!--</p-progressSpinner>-->

<!--<ng-template #content>-->
<div class="card">
  <div class="flex justify-content-end mb-3">

    <p-button [rounded]="true"
              (onClick)="showCreateNewUserDialog()"
              severity="success"
              icon="pi pi-plus">

    </p-button>
  </div>
  <p-table [value]="users"
           [lazy]="true"
           [loading]="loading.users"
           [paginator]="true"
           [(rows)]="pagination.size"
           [(first)]="pagination.page"
           [totalRecords]="pagination.totalRecords"
           (onLazyLoad)="loadUsers($event)"
           [rowsPerPageOptions]="[5, 10, 25, 50]"
           dataKey="id"
           editMode="row"
           styleClass="p-datatable-striped"
           sortField="id"
           [tableStyle]="{'min-width': '40rem'}">>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" style="width:10%;">Id
          <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="firstName" style="width:15%;">First Name
          <p-sortIcon field="firstName"></p-sortIcon>
        </th>
        <th pSortableColumn="lastName" style="width:15%;">Last Name
          <p-sortIcon field="lastName"></p-sortIcon>
        </th>
        <th pSortableColumn="username" style="width:15%;">Username
          <p-sortIcon field="username"></p-sortIcon>
        </th>
        <th pSortableColumn="email" style="width:15%;">Email
          <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="role" style="width:10%;">Role
          <p-sortIcon field="role"></p-sortIcon>
        </th>
        <th style="width:20%; text-align: center;">Projects</th>
        <th style="width:20%; text-align: center;">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-editing="editing" let-index="rowIndex">
      <tr [pEditableRow]="user" [formGroup]="forms[index % pagination.size]">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              {{ user.id }}
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.id }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" formControlName="firstName">
              <div
                *ngIf="forms[index % pagination.size]?.get('firstName')?.['invalid'] && (forms[index % pagination.size]?.get('firstName')?.dirty ||forms[index % pagination.size]?.get('firstName')?.touched)"
                class="text-danger">
                <small *ngIf="forms[index % pagination.size]?.get('firstName')?.errors?.['required']">Last Name is
                  required.</small>
                <small *ngIf="forms[index % pagination.size]?.get('firstName')?.errors?.['minlength']">
                  Last Name must be at least 3 characters long.
                </small>
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.firstName }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" formControlName="lastName">
              <div
                *ngIf="forms[index % pagination.size]?.get('lastName')?.['invalid'] && (forms[index % pagination.size]?.get('lastName')?.dirty ||forms[index % pagination.size]?.get('lastName')?.touched)"
                class="text-danger">
                <small *ngIf="forms[index % pagination.size]?.get('lastName')?.errors?.['required']">Last Name is
                  required.</small>
                <small *ngIf="forms[index % pagination.size]?.get('lastName')?.errors?.['minlength']">
                  Last Name must be at least 3 characters long.
                </small>
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.lastName }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              {{ user.username }}
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.username }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              {{ user.email }}
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.email }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="roleOptions"
                          formControlName="role"
                          optionValue="value"
                          optionLabel="label"
                          placeholder="Select a Role">

              </p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.role }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
            </ng-template>
            <ng-template pTemplate="output">
              <ng-container *ngFor="let project of user.projects">
                <a [routerLink]="['/admin/projects', project.id]"
                   [state]="{project: project}">
                  {{ project.title }}
                </a>
                <br *ngIf="last">
              </ng-container>
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button *ngIf="!editing" pButton pRipple type="button"
                    pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(user)"
                    class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button"
                    pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave((forms[index % pagination.size].value))"
                    class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button"
                    pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(user, index)"
                    class="p-button-rounded p-button-text p-button-danger"></button>
            <button pButton pRipple type="button" icon="pi pi-trash" (click)="showConfirmation(user.id)"
                    class="p-button-rounded p-button-text p-button-danger"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<!--</ng-template>-->
<p-dialog header="Create New User"
          [(visible)]="visible"
          [modal]="true"
          [style]="{ width: '40vw', height: '49vw' }"
          [draggable]="false"
          [resizable]="false">
  <app-create-user (newUserEvent)="newUserHandler($event)"></app-create-user>
</p-dialog>
