<p-card [subheader]="formatDateTime(comment.createdDate)">
  <ng-template pTemplate="header">
    <div class="flex justify-content-between flex-wrap p-2">
      <div class="flex align-items-center gap-2">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/avatar/amyelsner.png"
                  shape="circle">
        </p-avatar>
        <span class="font-bold white-space-nowrap">{{ comment.fullName }}</span>
      </div>
      <div *ngIf="getAuthUserId() === comment.authorId">
        <p-button (onClick)="mode = 'modify'"
                  icon="pi pi-pencil"
                  [rounded]="true"
                  [text]="true">
        </p-button>

        <p-button (onClick)="showDeleteCommentConfirmation(comment.id)"
                  icon="pi pi-trash" [rounded]="true"
                  [text]="true"
                  severity="danger">
        </p-button>
      </div>
    </div>
  </ng-template>
  <div *ngIf="mode == 'display'">
    <p>{{comment.comment}}</p>
  </div>

  <div *ngIf="mode == 'modify'">
     <span class="p-float-label">
    <textarea [disabled]="true" [formControl]="updateCommentFormControl"
              id="update-field" rows="3" cols="30"
              pInputTextarea>
    </textarea>
  </span>
    <p-button [disabled]="updateCommentFormControl.invalid" (onClick)="updateComment(comment.id)"
              label="Update" icon="pi pi-pencil"
              class="p-button-outlined p-button-sm p-button-text">
    </p-button>
    <p-button (onClick)="cancelUpdateComment()"
              label="Cancel" icon="pi pi-pencil"
              severity="danger"
              class="p-button-outlined p-button-sm p-button-text">
    </p-button>
  </div>
</p-card>
