//.container{
//  display: flex;
//}
//.task{
//  margin: 1rem;
//  display: flex;
//  flex-direction: column;
//  gap: 2rem;
//}
//.tasks-container{
//  //width: 17%;
//  padding : 0.2rem;
//  gap: 2px;
//  margin: 2rem;
//  background-color: #eceeef;
//}
.header {
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 3px;
}

.header p {
  margin: 0;
}

