<!--class="grid gap-3 mx-3 xl:mx-4 py-4"-->
<div class="kanban-wrapper">
  <!--  <div class="col">-->
  <p-card [pDroppableDisabled]="isDropDisabled"
          (onDrop)="drop('OPEN')"
          pDroppable styleClass="OPEN">
    <h2>
        <span>OPEN
          <p-chip
            [label]="(this.openTasks.length ? this.openTasks.length : 0).toString()">
          </p-chip>
        </span>
      <p-button icon="pi pi-plus"
                styleClass="p-button-rounded p-button-help p-button-outlined p-button-sm">
      </p-button>
    </h2>
    <div class="list">
      <ng-container *ngFor="let task of this.openTasks let i = index">
        <div class="list-item"
             pDraggable
             (onDragStart)="dragStart(task)"
             (onDragEnd)="dragEnd(task)"
             (click)="openDetailedTaskDialog(task)"
        >
          <div class="flex justify-content-between flex-wrap">
            <h4>{{ task.title }}</h4>
            <p>{{task.abbreviation}}</p>
            <p>{{ task.description }}</p>
          </div>
          <div class="task-footer flex justify-content-between">
            <span><i class="pi pi-user mr-2"></i>{{ task.userFullName ? task.userFullName : 'No assigned user' }}</span>
            <p-chip styleClass="flex-auto" [label]="task.status | titlecase"></p-chip>
          </div>
        </div>
        <div *ngIf="i !== this.openTasks.length - 1" class="divider"></div>
      </ng-container>
    </div>
  </p-card>
  <!--  </div>-->

  <!--  <div class="col">-->
  <p-card [pDroppableDisabled]="isDropDisabled"
          (onDrop)="drop('TODO')"
          pDroppable styleClass="TODO">
    <h2>
        <span>TODO
          <p-chip [label]="(this.todoTasks.length ? this.todoTasks.length : 0).toString()">
          </p-chip>
        </span>
      <p-button icon="pi pi-plus"
                styleClass="p-button-rounded p-button-help p-button-outlined p-button-sm">
      </p-button>
    </h2>
    <div class="list">
      <ng-container *ngFor="let task of this.todoTasks let i = index">
        <div class="list-item"
             pDraggable
             (onDragStart)="dragStart(task)"
             (onDragEnd)="dragEnd(task)"
             (click)="openDetailedTaskDialog(task)">
          <div class="flex justify-content-between flex-wrap">
            <h4>{{ task.title }}</h4>
            <p>{{task.abbreviation}}</p>
            <p>{{ task.description }}</p>
          </div>
          <div class="task-footer flex justify-content-between">
            <span><i class="pi pi-user mr-2"></i>{{ task.userFullName }}</span>
            <p-chip styleClass="flex-auto" [label]="task.status | titlecase"></p-chip>
          </div>
        </div>
        <div *ngIf="i !== this.todoTasks.length - 1" class="divider"></div>
      </ng-container>
    </div>
  </p-card>
  <!--  </div>-->

  <!--  <div class="col">-->
  <p-card [pDroppableDisabled]="isDropDisabled"
          (onDrop)="drop('IN_PROGRESS')"
          pDroppable styleClass="IN_PROGRESS">
    <h2>
        <span>IN PROGRESS <p-chip
          [label]="(this.inProgressTasks.length ? this.inProgressTasks.length : 0).toString()"></p-chip></span>
      <p-button icon="pi pi-plus"
                styleClass="p-button-rounded p-button-help p-button-outlined p-button-sm"></p-button>
    </h2>
    <div class="list">
      <ng-container *ngFor="let task of this.inProgressTasks let i = index">
        <div class="list-item"
             pDraggable
             (onDragStart)="dragStart(task)"
             (onDragEnd)="dragEnd(task)"
             (click)="openDetailedTaskDialog(task)">
          <div class="flex justify-content-between flex-wrap">
            <h4>{{ task.title }}</h4>
            <p>{{task.abbreviation}}</p>
            <p>{{ task.description }}</p>
          </div>
          <div class="task-footer flex justify-content-between">
            <span><i class="pi pi-user mr-2"></i>{{ task.userFullName }}</span>
            <p-chip styleClass="flex-auto" [label]="task.status | titlecase"></p-chip>
          </div>
        </div>
        <div *ngIf="i !== this.inProgressTasks.length - 1" class="divider"></div>
      </ng-container>
    </div>
  </p-card>
  <!--  </div>-->

  <!--  <div class="col">-->
  <p-card [pDroppableDisabled]="isDropDisabled"
          (onDrop)="drop('DONE')"
          pDroppable styleClass="DONE">
    <ng-template pTemplate="header">
    </ng-template>
    <h2>
        <span>DONE
          <p-chip [label]="(this.doneTasks.length ? this.doneTasks.length : 0).toString()">
          </p-chip>
        </span>
      <p-button icon="pi pi-plus"
                styleClass="p-button-rounded p-button-help p-button-outlined p-button-sm">
      </p-button>
    </h2>
    <div class="list">
      <ng-container *ngFor="let task of this.doneTasks let i = index">
        <div class="list-item"
             pDraggable
             (onDragStart)="dragStart(task)"
             (onDragEnd)="dragEnd(task)"
             (click)="openDetailedTaskDialog(task)">
          <div class="flex justify-content-between flex-wrap">
            <h4>{{ task.title }}</h4>
            <p>{{task.abbreviation}}</p>
            <p>{{ task.description }}</p>
          </div>
          <div class="flex justify-content-between" style="font-size: smaller; padding-top: 0.25rem;">
              <span><i
                class="pi pi-user mr-2"></i>{{ task.userFullName }}</span>
            <p-chip styleClass="flex-auto" [label]="task.status | titlecase"></p-chip>
          </div>
        </div>
        <div *ngIf="i !== this.doneTasks.length - 1" class="divider"></div>
      </ng-container>
    </div>
  </p-card>
</div>
<!--</div>-->


<p-dialog *ngIf="visible && selectedTask"
          [(visible)]="visible"
          [modal]="true"
          [style]="{width: '50vw'}"
          [maximizable]="true"
          header="Task Information">
  <app-detailed-task [id]="selectedTask!.id"
                     (updatedStatusTaskEvent)="updatedStatusTaskHandler($event, TaskStatus.IN_PROGRESS.valueOf())">

  </app-detailed-task>
</p-dialog>
